body {
      font-family: "Playfair Display", serif;
    };

section {
    height: 50px;
    border-top:30px solid rgba(0,0,0,0);
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
       
}
header {
    height: 80px;
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 157, 255);
}

.azzurro {color: aqua;}
.giallo {background-color: yellow;}

.spaziaturatabella1 {width: 200px;}
.spaziaturatabella2 { height: 80px;}

.lineablu {
    background-color: rgb(52, 160, 254);
    color: white;
}

.lineaazzurra {
    background-color: rgba(127, 255, 255, 0.533);
}

.grigio {color: grey;}
