body {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
section {
    height: 50px;
    border-top:30px solid rgba(0, 0, 0, 0);
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
       
}
header {
    height: 80px;
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 157, 255);
}

.azzurro {color: aqua;}
.giallo {background-color: yellow;}
.grigio {color: grey;}

.spaziaturatabella1 {width: 200px;}
.spaziaturatabella2 { height: 80px;}

.lineablu {
    background-color: rgb(52, 160, 254);
    color: white;
}

.lineaazzurra {
    background-color: rgba(127, 255, 255, 0.533);
}

div.img1 {
    color: white;
    width: 200px;
    height: 150px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

div.img2 {
    color: white;
    width: 200px;
    height: 150px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}